/* Reset CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	vertical-align: middle;
	max-width: 100%;
}
a, a:hover {
	color:  #000;
	text-decoration: none;
}

/* Font Import */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900');


/* Comfim HTML */

html, body {
	font-size: 14px;
	color: #000;
	font-family: 'Roboto', sans-serif;
}

/* Button */
.btn-banner {
	background: #477aa9;
    height: 45px;
    display: inline-block;
    line-height: 45px;
    color: #fff;
    border-radius: 25px;
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: 600;
    font-style: italic;
    font-size: 12px;
}
.btn-banner:hover, .btn-video:hover {
	color:  #fff;
}
.btn-banner img {
	width: 14px;
    vertical-align: middle;
    margin-right: 5px;
}
.btn-video {
	background: #f1404b;
    height: 45px;
    display: inline-block;
    line-height: 45px;
    color: #fff;
    border-radius: 25px;
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
}
/* Background */
.bg-xam {
	background: #52616a;
}
.bg-xam2 {
	background: #c9d6de;
}
.bg-xam3 {
	background: #f0f5f9;
}

/* Header */

.header {
	position: relative;
	z-index: 1;
}
.header .header__nav ul li {
	display: inline-block;
}
.header .header__nav ul li a {
	font-weight: 600;
    display: block;
    padding: 30px 15px 10px 15px;
    text-transform: uppercase;
}

/* Main */
/* 1.Home Banner */
.pageBanner {
	margin-top: -54px;
}
.pageBanner .pageBanner__content {
	position: relative;
}
.pageBanner .pageBanner__content .pageBanner__image {
	width: 50%;
	float: right;
}
.pageBanner .pageBanner__content .pageBanner__image img {
	width: 100%;
}
.pageBanner .pageBanner__content .pageBanner__text {
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}
.pageBanner .pageBanner__content .pageBanner__text h1 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 40px;
}
.pageBanner .pageBanner__content .pageBanner__text .pageBanner__desc {
 	font-size: 15px;
    line-height: 22px;
    padding: 30px 0 20px 0;
 }
 /* 2.Section Home One */
.willPageOne .willPageOne__thumbnail {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.willPageOne .willPageOne__thumbnail img {
	width: 320px;
    height: 320px;
    border-radius: 100%;
}
.willPageOne .willPageOne__text {
	color: #fff;
}
.willPageOne .willPageOne__text h3 {
	font-weight: 600;
    line-height: 18px;
}
.willPageOne .willPageOne__text .willPageOne__desc {
	font-style: italic;
    letter-spacing: .2px;
    line-height: 18px;
    margin: 20px 0;
}

/* 3.Section Two */
.willPageTwo .willPageTwo__item:not(:last-child) {
	margin-bottom: 30px;
}
.willPageTwo .willPageTwo__text {
	font-style: italic;
    line-height: 20px;
    text-align: justify;
}
.willPageTwo .willPageTwo__subTitle {
	font-style: initial;
    font-weight: 600;
    margin-bottom: 15px;
}

/* 4.Section Three */

.willPageThree .willPageThree__title .btn-banner {
	margin: 20px 0 30px 0px;
}
.willPageThree .willPageThree__title h4 {
	font-size: 16px;
    text-transform: uppercase;
    line-height: 25px;
    margin-bottom: 15px;
    font-weight: bold;
}
.willPageThree .willPageTwo__videos {
	margin:  30px 0 15px 0;
}
.willPageThree .willPageTwo__videos .btn-video {
	margin-top: 30px;
}

/* 5. Section Page QC */
.pageQC {
    position: relative;
}
.pageQC .pageQC__images {
    height: 100vh;
    background-image: url(../images/banner/banner2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}
.pageQC .pageQC__text {
    position: absolute;
    top: 25%;
    width: 100%;
}
.pageQC .pageQC__text h1 {
    font-family: 'Playfair Display', serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 60px;
}
.pageQC .pageQC__text .pageQC__desc {
    margin: 10px 0 20px 0;
}
.pageQC .pageQC__text .pageQC__desc h4 {
    background: #477aa9;
    display: inline-block;
    color: #fff;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
}

/* title QC */
.pageQC-title {
    background: #566270;
    text-align: center;
    padding: 14px 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
}
.pageQC-titlesub {
    background: #a5dff9;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 0;
}
/* 6.Commitment */

.commitment .commitment__box {
    background: #dde0e2;
    padding: 20px 10%;
    border-radius: 25px;
}
.commitment .commitment__box ul li {
    font-size: 16px;
    margin-bottom: 5px;
}
.commitment .commitment__box ul li:last-child {
    margin-bottom: 0;
}
.commitment .commitment__box ul li img {
    width: 15px;
    vertical-align: bottom;
    margin-right: 5px;
}
.commitment .commitment__video {
    margin-top: 30px;
}
/* 7.willPageQC */
.willPageQC .willPageQC-one__text {
    height: 100%;
    position: relative;
}
.willPageQC .willPageQC-one__text:before {
    content: '';
    position: absolute;
    height: calc(100% - 15px);
    width: 22px;
    background: #a5dff9;
    z-index: -1;
    bottom: 0;
}
.willPageQC .willPageQC-one__text ul li {
    font-size: 16px;
    margin-bottom: 10px;
}
.willPageQC .willPageQC-one__text ul li:last-child {
    margin: 0;
}
/* --------------- */
.willPageQC .willPageQC-two {
    padding: 30px 0 0;
}
.willPageQC .willPageQC-two h2 {
    font-weight: 600;
    font-size: 16px;
}
.willPageQC .willPageQC-two .willPageQC-two__box {
    padding:  30px 0;
}
.willPageQC .willPageQC-two .willPageQC-two__box .willPageQC-two__item {
    position: relative;
}
.willPageQC .willPageQC-two .willPageQC-two__box .willPageQC-two__item .willPageQC-two__text {
    position: absolute;
    top: 15px;
} 
.willPageQC .willPageQC-two .willPageQC-two__box .willPageQC-two__item .willPageQC-two__text h4 {
    font-size: 18px;
    font-weight: 600;
    background: #a5dff9;
    display: inline-block;
    padding: 8px;
}
.willPageQC .willPageQC-two .willPageQC-two__box .willPageQC-two__item img, .willPageQC .willPageQC-two .willPageQC-two__box .willPageQC-two__item2 img {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
}
.willPageQC .willPageQC-two .willPageQC-two__box .willPageQC-two__item .willPageQC-two__text .willPageQC-two__desc {
    margin-top: 10px;
    line-height: 20px;
}
.willPageQC .willPageQC-two .willPageQC-two__box .willPageQC-two__item2 {
    max-width: 450px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.willPageQC .willPageQC-two .willPageQC-two__box .willPageQC-two__item2 h4 {
    background: #a5dff9;
    position: absolute;
    font-size: 18px;
    font-weight: 600;
    padding: 8px;
    left: 50%;
    bottom: -16px;
    transform: translateX(-50%);
}
.willPageQC .willPageQC-three {
    padding: 50px 0 30px 0;
}
.willPageQC .willPageQC-three__box {
    position: relative;
}
.willPageQC .willPageQC-three__box .willPageQC-three__text {
    position: absolute;
    left: 10%;
    bottom: -40px;
}
.willPageQC .willPageQC-three__box .willPageQC-three__text h3 {
    background: #a5dff9;
    font-size: 18px;
    font-weight: 600;
    padding: 8px;
    margin-bottom: 10px;
}
.PageQCfull {
    padding: 30px 0;
}
.PageQCfull .PageQCfull__title {
    font-weight: 600;
    line-height: 20px;
    padding: 25px 0;
}
.PageQCfull  .PageQCfull__box h3 {
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 15px;
}
.PageQCfull  .PageQCfull__box img {
    height: 315px;
    object-fit: contain;
    width: 100%;
}
.PageQCfull .PageQCfull__gralley img {
    width: 100%;
}


 /* Section */

 .willPage {
 	padding: 30px 0;
 }

 /* Footer */

.footer {
 	background: #1e2022;
 	padding: 30px 0;
 	color:  #fff;
}
 .footer .footer-top h2 {
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;
}
.footer .footer-top .footer-top__desc {
 	line-height: 18px;
    font-size: 13px;
    margin: 15px 0 30px;
}
.footer .footer__nav ul li a {
	display: block;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 12px;
}
.footer .footer__nav ul li:last-child a {
	margin-bottom: 0;
}

.footerQC {
    background: url('../images/anh6.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 35px 0 80px;
}
.footerQC .footerQC-box {
    background: #fff;
    padding: 15px;
    border-radius: 20px;
}
.footerQC .footerQC-box h3 {
    color: #fe4365;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 25px;
    margin-bottom: 15px;
}
.footerQC .footerQC-box > p {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 18px;
}
.footerQC .footerQC-box > p span {
    color: #fe4365;
}
.footerQC .footerQC-box .footerQC__sale {
    text-transform: uppercase;
    margin-top: 12px;
}
.footerQC .footerQC-box .footerQC__sale h5 {
    font-weight: 600;
    color: #fe4365;
    line-height: 30px;
}

@media (max-width: 1200px) {
    .pageQC .pageQC__images {
        height: 55vh;
        background-size: cover;
    }
    .willPageQC .willPageQC-two .willPageQC-two__box .willPageQC-two__item2 {
        max-width: 250px;
    }
    .willPageQC .willPageQC-two .willPageQC-two__box .willPageQC-two__item img {
        max-width: 370px;
    }
}
@media (max-width: 767px) {
    .pageQC .pageQC__text {
        text-align: center;    
    }
    .pageQC .pageQC__text h1 {
        font-size: 35px;
    }
    .pageQC .pageQC__text .pageQC__desc h4 {
        font-size: 14px;
    }
    .commitment .commitment__box ul li {
        line-height: 25px;
        position: relative;
    }
    .commitment .commitment__box {
        padding: 15px;
    }
    .pageQC-titlesub {
        font-size: 16px;
        line-height: 24px;
    }
    .willPageQC-one__image {
        margin-bottom: 15px;
    }
    .willPageQC-one__image  img {
        width: 100%;
    }
    .willPageQC .willPageQC-two h2 {
        line-height: 22px;
    }
    .willPageQC .willPageQC-two .willPageQC-two__box .willPageQC-two__item img {
        max-width: 100%;
    }
    .willPageQC .willPageQC-two .willPageQC-two__box .willPageQC-two__item2 {
        max-width: 100%;
        position: relative;
        margin-top: 15px;
    }
    .willPageQC .willPageQC-two .willPageQC-two__box .willPageQC-two__item2 h4 {
        white-space: nowrap;
    }
    .willPageQC .willPageQC-three{
        padding: 0;
    }
    .footerQC .footerQC-box .footerQC__sale h5 {
        line-height: 20px;
        margin-top: 12px;
        }
}